.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rd2*
.docx

# macOS Files
.DS_Store

# FRED files (too big)
0 - Synthetic Populations/0 - FRED data/

#Private files
5 - Drafts/Private
4 - Output/Paper 1/OLD

2 - Tests/Functional testing/Model Output.zip
4 - Output/Paper 2
